.custom-bg:hover{
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert{
    position: fixed;
    top: 100px;
    right: 25px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
}